
body {
    direction: rtl;
    text-align: right;
    
    background-color: #f4f4f9;
    color: #000;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}


header {
    background: #007BFF;
    color: #ffffff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}






nav {
    background: #444;
    color: #fff;
    padding: 0.5rem;
    text-align: center;
}

nav a {
    color: #000;
    margin: 0 1px;
    padding: 0.5rem 1.5rem;
    border-radius: 90px;
    margin-left: 20px;
    text-decoration: none;
}

nav a:hover {
    background: #fff;
    text-decoration: underline;
}


main {
    padding: 20px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    
}

table th {
    background-color: #4CAF50;
    color: white;
}

table tr:nth-child(even) {
    background: #808080;
    color: #000;
}


form {
    max-width: 600px;
    margin: 20px auto;
    background: #fff;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(2, 2, 2, 2);
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input,
form textarea,
form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    background: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background: #0056b3;
}


img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
    
}

.team {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.team img {
    float: right; 
    margin-left: 15px;
    margin-bottom: 10px;
    max-width: 100px; 
}


.player {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.player img {
    float: left; 
    margin-left: 15px;
    margin-bottom: 10px;
    max-width: 350px;
	 
}

.history {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.team-info {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.achievements {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.notable-players {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.upcoming-matches {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.stadiums article {
    
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.stadiums img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.gallery article {
    
    text-align: center;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.gallery img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}




footer {
    text-align: center;
    background: #444;
    color: #fff;
    padding: 1rem;
    margin-top: 20px;
}
